{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home page{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">    
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'media/css/home.css' %}">
    {% endblock %}
</head>
<body>
    <h1>Gamer's Favorites.<span style="color:rgb(113, 113, 113)"> Best Sellers</span></h1>
    <main class="container">
        <div class="slider">
            <div class="slides">

                <div class="slide">
                    <img src="{% static 'media/images/products/dronemavic2.png' %}"> 
                </div>
                
                <div class="slide">
                    <img src="{% static 'media/images/products/lenovo-legionGo.png' %}">
                </div>
                
                <div class="slide">
                    <img src="{% static 'media/images/products/ssd-casergb.png' %}">
                </div>
                
                <div class="slide">
                    <img src="{% static 'media/images/products/msi-claw.png' %}">
                </div>
                
                <div class="slide">
                    <img src="{% static 'media/images/products/meta-quest-.png' %}">
                </div>

                <div class="slide">
                    <img src="{% static 'media/images/products/valve-steam.png' %}">
                </div>

                <div class="slide">
                    <img src="{% static 'media/images/products/sony-vr2.png' %}">
                </div>
            </div>
            
            <div class="slider-controls">
                <button class="slider-button" onclick="prevSlide()">&#10094;</button>
                <button class="slider-button" onclick="nextSlide()">&#10095;</button>
            </div>
        </div>

        <div class="banner-text">
            Save $25 with your Golden Membership when you spend $250 In Store Or Online & Pick up in Store*
        </div>

        <div class="video-section">
            <video autoplay muted loop width="100%" controls>
                <source src="{% static 'media/videos/Phantom-Blade-Zero.mp4' %}" type="video/mp4">
            </video>
        </div>

        <div class="card">
            <img src="{% static 'media/images/products/bannerassasins.png' %}">
        </div>

        <div class="grid-container">

            <div class="card">
                <a href="https://rewards.msi.com/">
                    <img src="{% static 'media/images/logo/msi-log.png' %}">
                </a>
            </div>
            <div class="card">
                <a href="https://www.nintendo.com/us/switch/online/nintendo-switch-online/#nso-compare-table">
                    <img src="{% static 'media/images/logo/nintendo-online.png' %}">
                </a>
            </div>
            <div class="card">
                <a href="https://www.playstation.com/en-us/ps-plus/#subscriptions">
                    <img src="{% static 'media/images/logo/ps-log.png' %}">
                </a>
            </div>
            <div class="card">
                <a href="https://www.nvidia.com/en-us/geforce-now/memberships/">
                    <img src="{% static 'media/images/logo/nvidia.png' %}">
                </a>    
            </div>
            <div class="card">
                <a href="https://www.xbox.com/en-US/live/gold">
                    <img src="{% static 'media/images/logo/xbox.png' %}">
                </a>
            </div>
        </div>

        <div class="card">
            <a href="http://127.0.0.1:8000/products/34/">
                <img src="{% static 'media/images/products/NBA.png' %}">
            </a>
        </div>

        <h2 class="h2-gold">Membership Benefits & Free Shipping</h2>

    </main>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>
{% endblock %}
    