.cart .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.cart .table th,
.cart .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.cart .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.cart-item {
    border-bottom: 1px solid white;
    padding: 10px 0;
}

.cart-item:last-child {
    border-bottom: 1px solid transparent;
}

.order-total {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid black;
}

.total-price {
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.actions button {
    margin-right: 10px;
}

h1 {
    text-align: center;
    font-family: "Oswald", sans-serif;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
}


