body {

    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cart, .summary {
    background-color: #0473b360;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 45%;
    text-align: center;
}

h2 {
    color: #00ad73;
    margin-bottom: 15px;
}

h3 {
    color: #02c383;
    text-align: center;
}

.cart-items, .payment-methods {
    margin-top: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.item-name {
    flex: 2;
}

.item-price {
    flex: 1;
    text-align: right;
}

.item-controls {
    display: flex;
    align-items: center;
}

.control-btn {
    background-color: #505250;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.control-btn:hover {
    background-color: black;
}

.quantity {
    width: 50px;
    text-align: center;
    border: none;
    background-color: #6a6a6a;
    color: #fff;
    margin: 0 5px;
}

.remove-btn {
    background-color: #d9534f;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-btn:hover {
    background-color: #c9302c;
}

.summary {
    background-color: #0473b360;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 45%;
}   

.total {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.shipping {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.tax {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.grand-total {
    display: flex;
    justify-content: space-between;
    font-size: 1.6em;
    margin-bottom: 20px;
    border: 1px solid rgb(132, 235, 134);
}

.payment-methods {
    display: flex;
    justify-content: space-between;
}

.payment-btn {
    background-color: #147285;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.payment-btn:hover {
    background-color: #0493d6cb;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
}
