{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/memberships.css' %}">
{% endblock %}

{% block content %}
    <h1>Membership Cards</h1>
    <div class="card-container">
        {% for card in cards %}
        <div class="membership-card {{ card.membership_type|lower }}">
            <img src="{{ card.profile_photo.url }}" alt="{{ card.first_name }} {{ card.last_name }}'s photo" class="profile-photo">
            <h2>{{ card.first_name }} {{ card.last_name }}</h2>
            <p>Membership Number: {{ card.membership_number }}</p>
            <p>Type: {{ card.membership_type }}</p>
            {% if card.pk %}
                <a href="{% url 'membership_card_detail' card.pk %}">View Details</a>
            {% else %}
        </div>
        {% endfor %}
    </div>
{% endblock %}